body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Times New Roman', Times, serif;
  background-image: url(./assest/triangular-abstract-with-security-symbol-circuit-board-modern-future-website-background-or-cover-page-for-technology-and-finance-concept-and-education-future-company-vector.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  color: #fff;
}

*{
  margin: 0;
  padding: 0;
}

.designer{
  font-size: 15pt;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
  background: transparent;
}

.container{
  height: 100vh;
  width: 100%;
  margin-top: 30px;
}

.heading{
  font-size: 30pt;
  text-align: center;
  text-decoration: underline;
}


.display-section{
  display: grid;
  place-items: center;
  font-size: 30pt;
  margin-top: 30px;
  /* text-decoration: underline; */
}

.section{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 300px;
  margin-left: 30px;
  margin-top: 30px;
}



.input-section{
  display: grid;
  place-items: center;
  margin-top: 50px;
}


#amount{
  height: 40px;
  width: 350px;
  border-radius: 20px;
  border: 2px solid black;
  font-size: 20pt;
  text-align: center;
  

}

#amount::placeholder{
  text-align: center;
  font-size: 17pt;
  color: red;
  font-weight: bold;
}


.buttons{
  display: flex;
  align-items: center;
  /* justify-content: space-ev; */
  gap: 250px;
  margin-top: 50px;
}

.btn{
  height: 40px;
  width: 200px;
  font-size: 18pt;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  background-color: #5bf016;
  color: #fff;

}


.btn:active{
  color: #d43030d7;
  /* background-color: #2b49f3; */
}



@media screen and (max-width : 768px) and (min-width : 425px){
  .designer{
    margin-right: 60px;
  }

  .heading{
    margin-right: 75px;
  }
  
  .display-section{
    /* margin-left: -20px; */
    margin-right: 90px;
    font-size: 20pt;
  }
  
  .section{
    gap: 200px;
    /* margin-left: -20px; */
    margin-left: 20px;
  }


  .input-section{
    margin-right: 90px;
  }


  #amount{
    height: 35px;
    width: 250px;
  }
}


@media screen and (max-width : 425px) and (min-width : 320px) {
  body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: auto;
    background-position: center;
  }

  .designer{
    margin-left: 6px;
    font-size: 10pt;
  }

  .heading{
    /* margin-right: 75px; */
    font-size: 20pt;
  }
  
  .display-section{
    /* margin-left: -20px; */
    /* margin-right: 90px; */
    font-size: 20pt;
  }
  
  .section{
    gap: 200px;
    /* margin-left: -20px; */
    margin-left: 20px;
  }


  .input-section{
    margin-right: 90px;
  }


  #amount{
    height: 35px;
    width: 250px;
  }  
  
}
