@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #97c3dd, #3f80e2);

}

.container {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-weight: 500;
}

.custom-file-upload {
    display: block;
    padding: 10px;
    background: #007bff;
    color: white;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.signup-form input[type="text"],
.signup-form input[type="tel"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: border 0.3s ease;
}

.signup-form input[type="text"]:focus,
.signup-form input[type="tel"]:focus,
.signup-form input[type="email"]:focus,
.signup-form input[type="password"]:focus {
    border: 1px solid #007bff;
}

button {
    background-color: #28a745;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

/* Responsive */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    button {
        padding: 12px;
    }
}
