*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}

body{
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg,#0a0a0a,#3a4452);
}

.calculator{
  padding: 15px;
  box-shadow: 0 0 15px #000;
  border: 2px solid rgb(116,114,114);
  border-radius: 20px;


}

.display input{
  width: 360px;
  border: none;
  outline: none;
  padding: 20px;
  margin: 10px;
  background: transparent;
  color: #ffffff;
  font-size:  40px;
  text-align: right;
  cursor: pointer;
}

.display input::placeholder{
  color: #ffffff;
}


button{
  width: 70px;
  height: 70px;
  margin: 10px;
  background: transparent;
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  border: 0;
  border-radius: 50%;
  box-shadow: -5px -6px 15px #000;
  outline: 1px solid #313131;
  outline-offset: 3px;
  cursor: pointer;
}

button:hover{
  box-shadow: 0 0 15px #ffffff;

}


button:active{
  background: #000000;
  transform: translate(2px , 2px);
}


.operation{
  color: #fbff00;
  background: #1e1919;
  font-weight: 700;
}


#equalbtn{
  background-color: orangered;
  font-weight: bold;
}



@media screen and (max-width :425px) and (min-width : 320px) {

  .display input{
    width: 250px;
  }

  button{
    height: 45px;
    width: 45px;
    font-size: 18px;
  }
  
}
