.blue{
    background-color: rgb(78, 78, 233);
}
.cream{
    background-color: rgb(248, 248, 126);
}
.green{
    background-color: rgb(20, 192, 20);
}
.light{
    background-color: rgb(193, 219, 230);
}
.yellow{
    background-color: rgb(226, 226, 15);
}
.purple{
    background-color: rgb(133, 14, 133);
}
.pink{
    background-color: rgb(196, 29, 146);
}
body{
    background-color: rgb(45, 219, 190);
    font-family: 'Times New Roman', Times, serif;
    font: weight 1000px;
}
h1{
    font-family: algerian;
}