body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #37ced3, #3866e2);
}

*{
    padding: 0;
    margin: 0;
}

.designer{
    text-align: center;
    font-weight: 700;
    font-size: 17pt;

}



.header{
    display: grid;
    place-items: center;
    margin-top: 20px;
    line-height: 40px;
}

.header h1{
    font-size: 30pt;
}

.header h2{
    font-size: 23pt;
}

.toDoInputField{
    display: grid;
    place-items: center;
    margin-top: 30px;
}

#todoInputField{
    border: none;
    height: 40px;
    width: 80%;
    border-radius: 10px;
    font-size: 15pt;
    text-align: center;

}

/* .toDoInputField{
    display: flex;
    justify-content: center;
} */

.addButton{
    display: block;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #18d111;
    color: white;
    font-size: 14.5pt;
    margin-top: 10px;
    
}

.todo-display-field-div{
    height: 100vh;
    width: 80%;
    /* border: 2px solid black; */
    margin: 0 auto;
    margin-top: 20px;
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    width: 5%;
    font-size: 15pt;
    font-weight: 700;
}

th {
    background-color: #f0f0f0;
  }


