@font-face {
    font-family: 'playnz';
    src: url('./assets/fonts/Playwrite_NZ/PlaywriteNZ-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'nzregular';
    src: url('./assets/fonts/Playwrite_NZ/static/PlaywriteNZ-Regular.ttf');
}

@font-face {
    font-family: 'nztin';
    src: url('./assets/fonts/Playwrite_NZ/static/PlaywriteNZ-Thin.ttf');
}

@font-face {
    font-family: 'Autasregular';
    src: url('./assets/fonts/Playwrite_AU_TAS/static/PlaywriteAUTAS-Regular.ttf');
}

@font-face {
    font-family: 'autas';
    src: url('./assets/fonts/Playwrite_AU_TAS/PlaywriteAUTAS-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'autastin';
    src: url('./assets/fonts/Playwrite_AU_TAS/static/PlaywriteAUTAS-Thin.ttf');
}


html,body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}
/* 
body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
} */


.designer {
    text-align: center;
    font-size: 18pt;
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
}

.title {
    font-size: 35pt;
    color: #06D001;
    font-family: 'playnz';
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    border-bottom: 5px solid #06D001;
}

.sorting_by_alphabet select , .sorting_by_price select, .filtering-by-category select{
    height: 40px;
    width: 190px;
    font-size: 15pt;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    border: 1px solid black;
    margin: 0;
}


@media screen and (min-width: 320px) and (max-width: 425px) {
    .designer {
        font-size: 12pt;
    }

    .title{
        font-size: 20pt;
        padding-top: 15px;
    }

    .product-list{
        margin: 0;
    }
}
