body{
    background-color: aqua;
}

@font-face {
    font-family:lemon ;
    src: url(./fonts/Lemon/Lemon-Regular.ttf);
}
@font-face {
    font-family: Bungee_spice;
    src: url(./fonts/Bungee_Spice/BungeeSpice-Regular.ttf);
}
@font-face {
    font-family: Lobster;
    src: url(./fonts/Lobster/Lobster-Regular.ttf);
}
@font-face {
    font-family: luckiest_Guy;
    src: url(./fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}
@font-face {
    font-family:oleo regular ;
    src: url(./fonts/Oleo_Script/OleoScript-Regular.ttf);

}
@font-face {
    font-family: oleobold;
    src: url(./fonts/Oleo_Script/OleoScript-Bold.ttf);
}
.heading{
    text-align: center;
    font-size: 48px;
    font-family:luckiest_Guy;
}
.a{
    font-size: 36px;
    font-family: algerian;
    font-weight: 500;
    text-align: center;
    text-decoration:none;
}
.b{
    font-size: 40px;
    font-family: Bungee_spice;
    text-align: left;
    word-spacing:normal;

}
.data{
    text-align: center;
    text-decoration: underline;
    border: 5px;
}
.c{
    height: 160px;
    width: 180px;
    align-content: center;
    border: 10px;
}
.d,h3{
    text-align: center;
    font-family: oleo regular;
    font-size:36px;
}
.e{
    align-items: center;
}
.f{
    height: 60px;
    width: 50px;
}
.main{
    align-items: center;
}
#A,#B,#C,#D,#E,#F,#G,#H,#I,#J,#K,#L,#M,#N,#O,#P,#Q,#R,#S,#T,#U,#V,#W,#X,#Y,#Z{
    text-align: center;
}
.button{
    height: 80px;
    width: 80px;
    align-items: right;
}
.return{
    text-align:right ;
}
#hit{
    margin: auto;
}