body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(./assest/2.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    padding: 0;
    margin: 0;
}

.designer{
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    font-size: 15pt;
    background: transparent;
}

.heading{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 30pt;
}

.command-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 40px; */
    /* margin-top: 30px; */
    /* border: 2px solid black; */
    height: 50px;
    width: 90%;
    margin-left: 5%;
}


.btn{
    border: none;
    font-size: 13pt;
    height: 30px;
    width: 140px;
    /* width: max-content; */
    border-radius: 20px;
    font-weight: 700;
    /* background-color: #1fe718; */
    background-color: #000;
    color: #fff;
}


.btn:active{
    background-color: #37dd15;
}

.bt{
    border: none;
    font-size: 13pt;
    height: 30px;
    width: 140px;
    /* width: max-content; */
    border-radius: 20px;
    font-weight: 700;
    /* background-color: #1fe718; */
    background-color: #000;
    color: #fff;
}


.bt:active{
    background-color: #37dd15;
}


.text-area{
    display: grid;
    place-items: center;
    margin-top: 40px;
    
}


.input{
    background: transparent;
    height: 400px;
    width: 900px;
}

